/*top page*/
.topPage{
    border: blue;
    text-align: center;
    color:black
} 

.navigatingBoutons{
    margin: 0;
    background-color: #333;
    overflow: hidden;
}

.navigatingBoutons a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17p
}
.navigatingBoutons a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .active{
    background-color: green;
}




body {
    /*background-color: white;*/
    background-color: rgba(100, 98, 95, 0.404);
    color:black;
    text-align: center;
}




.game{
    display: none;
}

#buttonGameExplanation{
    text-align: center;
}

#gameExplanationText{
    display: none;
    padding-left: 150px;
    padding-right: 250px;
}
#gameWonMessage{
    display: none;
}
#gameLostMessage{
    display: none;
}
#gameTryAgainMessage{
    display: none;
}
#gameErrorMessage{
    display: none;
}


.bodyPart{
    text-align: left;
    padding-left: 300px;
    padding-right: 300px;
}
.subtitle{
    text-align: center;
}




